.btn-new-Password {
  background-color: #5c61f1;
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding: 10px 10px !important;
  transition-property: all;
  transition-duration: 0.3s;
  color: #fff;
  margin-top: 15px !important;
  cursor: pointer;
}
.btn-new-Password button {
  border: none;
  background-color: #5c61f1;
  color: #fff;
  outline: none;
}
.btn-new-Password :hover {
  opacity: 0.8;
}
